h2 {
	margin: 0;
}

body {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

button {
	color: white;
	display: inline-block;
	font-size: 1.2em;
	text-align: center;
	border: none;
	padding: 16px 16px;
}

input {
	float: right;
	border-width: 1px;
}
label {
	margin-top: 20px;
}

table {
	color: white;
	width: 50%;
	margin: auto;
}
td {
	text-align: center;
}
td:first-child {
	width: 70%;
}
td:last-child {
	width: 30%;
}

a:link {
	color: #f0bb00;
}

a:visited {
	color: #3ea2dc;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.panel {
	color: white;
	background-color: rgba(60, 60, 60, 0.8);
	margin: 8px;
	padding: 16px;
}
.button {
	border-radius: 20px;
	background-color: rgba(120, 120, 120, 0.8);
}
.button a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 0.8em;
}
.button img {
	width: 12%;
	margin-right: 4%;
	vertical-align: middle;
}
.button:hover {
	background-color: rgba(130, 130, 130, 0.8);
}

.grow {
	transition: all 0.2s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
}

.text-centered {
	text-align: center;
}

.text-right {
	text-align: right;
}

.full-width {
	width: 100%;
}

.round {
	border-radius: 25px;
}

.radius {
	border-radius: 10px;
}

.row {
	width: 100%;
	margin-bottom: 20px;
}
.game {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	max-height: 300px;
}
.game-container {
	background-color: rgba(100, 100, 100, 0.8);
	margin: 5px;
	padding: 5px;
}
.game-container > div {
	position: relative;
	height: 60%;
}
.picture {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}
.sold-out {
	background-image: url("../img/sold_out.png");
	position: absolute;
	z-index: 10;
	width: 100%;
}
.gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.information {
	height: 40%;
	max-height: 80px;
	margin-top: 8px;
}
.title {
	text-align: center;
	margin: 0;
	height: 60%;
	max-height: 40px;
}

.action-container {
	width: 50%;
	margin: auto;
	margin-top: 20px;
	display: table;
}
.action-container button {
	width: 25%;
	display: table-cell;
	margin-right: 12.5%;
	margin-left: 12.5%;
}

.green {
	background-color: rgba(76, 175, 80, 0.9);
}
.green:hover {
	background-color: rgba(86, 185, 90, 0.9);
}
.orange {
	background-color: rgba(255, 153, 0, 0.9);
}
.orange:hover {
	background-color: rgba(255, 163, 10, 0.9);
}


#header, #content {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#content {
	height: 60%;
	margin-top: 20px;
}

#menu {
	width: 12%;
	top: 2%;
	right: 2%;
	position: fixed;
}