h2 {
	margin: 0;
}

p {
	margin: 0 0 8px 0;
}

body {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

form {
	line-height: 2em;
}

button {
	font-size: 1.2em;
	padding: 0 16px;
}

table {
	width: 50%;
	margin: auto;
	color: white;
}
td {
	text-align: center;
}
td:first-child {
	width: 70%;
}
td:last-child {
	width: 30%;
}

a:link {
	color: #f0bb00;
}

a:visited {
	color: #3ea2dc;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.panel {
	color: white;
	background-color: rgba(60, 60, 60, 0.8);
	margin: 8px;
	padding: 16px;
}

.text-centered {
	text-align: center;
}

.text-right {
	text-align: right;
}

.full-width {
	width: 100%;
}

.round {
	border-radius: 25px;
}

.radius {
	border-radius: 10px;
}

.row {
	width: 100%;
	margin-bottom: 20px;
}
.game {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	max-height: 300px;
}
.game-container {
	background-color: rgba(100, 100, 100, 0.8);
	margin: 5px;
	padding: 5px;
}
.game-container > div {
	position: relative;
	height: 60%;
}
.picture {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}
.sold-out {
	background-image: url("../img/sold_out.png");
	position: absolute;
	z-index: 10;
	width: 100%;
}
.gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.information {
	height: 40%;
	max-height: 80px;
	margin-top: 8px;
}
.title {
	text-align: center;
	margin: 0;
	height: 60%;
	max-height: 40px;
}


#header, #content {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#content {
	height: 60%;
	margin-top: 20px;
}